.articles-section {
    padding: 100px 30px;

    .articles-section-title {
        font-size: 35px;
        color: $darkBlue;
        text-align: center;
        margin-bottom: 30px;
    }

    .articles {
        @include flexCenter(column);
        gap: 50px;

        .article {
            .img-container {
                height: 250px;

                .article-img {
                    height: 100%;;
                    width: 100%;
                }
            }

            .article-info {
                display: flex;
                flex-direction: column;
                gap: 15px;
                padding: 30px;

                span, p {
                    color: gray;
                }

                h4 {
                    color: $darkBlue;
                    font-size: 20px;
                    cursor: pointer;

                    &:hover {
                        color: $limeGreen;
                    }
                }
            }
        }
    }
}

@media all and (min-width: 1200px) {
    .articles-section {
        padding: 70px 100px 30px;

        .articles-section-title {
            text-align: left;
        }

        .articles {
            flex-direction: row;
            gap: 20px;

            .article {
                .img-container {
                    height: 200px;
                }

                .article-info {
                    height: 300px;
                    padding: 15px;
                }
            }
        }
    }
}