.footer {
    background: $darkBlue;
    padding: 50px 0;
    @include flexCenter(column);
    gap: 30px;

    .social-media, .options, .option {
        gap: 15px;
    }

    .social-media {
        @include flexCenter(row);

        svg {
            cursor: pointer;

            &:hover {
                path {
                    fill: $limeGreen;
                }
            }
        }
    }

    .options {
        color: white;
        @include flexCenter(column);

        .option {
            @include flexCenter(column);

            span {
                cursor: pointer;

                &:hover {
                    color: $limeGreen;
                }
            }
        }
    }

    .copyright {
        color: gray;
    }
}