.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background: white;
    position: absolute;
    z-index: 1;
    width: 100%;

    .logo-container, .icon-container {
        @include flexCenter(row);
    }

    .icon-container {
        .hamburger-icon, .close-icon {
            cursor: pointer;
        }

        .close-icon {
            display: none;
        }
    }

    .nav {
        display: none;

        span {
            color: gray;
            border-top-style: solid;
            border-top-color: transparent;
            border-bottom-style: solid;
            border-bottom-color: transparent;
            cursor: pointer;

            &:hover {
                color: black;
                border-bottom-color: $limeGreen;
            }
        }
    }

    .button-container {
        display: none;
    }
}

@media all and (max-width: 800px) {
    .header {
        .nav.show-in-mobile {
            @include flexCenter(column);
            gap: 20px;
            padding: 30px 0;

            span {
                padding: 5px 0;
                border-top-width: 3px;
                border-bottom-width: 3px;
            }
        }

        .icon-container {
            .hamburger-icon.hide {
                display: none;
            }

            .close-icon.show {
                display: block;
            }
        }
    }

    .header.adjust-in-mobile {
        display: grid;
        grid-template-areas: 
        "logo icon"
        "nav nav";

        .logo-container {
            grid-area: logo;
        }

        .icon-container {
            grid-area: icon;
        }

        .nav {
            grid-area: nav;
        }
    }
}

@media all and (min-width: 800px) {
    .header {
        padding: 0;
        justify-content: space-around;

        .icon-container {
            display: none;
        }

        .nav, .button-container {
            @include flexCenter(row);
        }

        .nav {
            gap: 30px;

            span {
                padding: 20px 0;
                border-top-width: 5px;
                border-bottom-width: 5px;
            }
        }
    }
}