.intro-section {
    display: flex;
    flex-direction: column;

    .phones-container {
        margin-top: -80px;
        background: url("../images/bg-intro-mobile.svg");
        background-repeat: none;
        background-size: 100% calc(100% + 80px);

        .phones-img {
            width: 100%;
        }
    }

    .text-container {
        @include flexCenter(column);
        gap: 30px;
        padding: 10px 30px 120px 30px;

        h1 {
            font-size: 45px;
            color: $darkBlue;
            text-align: center;
        }

        p {
            color: $grayishBlue;
            text-align: justify;
        }
    }
}