.why-section {
    background: $lightGrayishBlue;
    @include flexCenter(column);
    padding: 50px 30px;

    h2 {
        font-size: 35px;
        color: $darkBlue;
    }

    p {
        color: gray;
        text-align: center;
    }

    .why-paragraph {
        margin-top: 20px;
    }

    .reasons {
        margin-top: 50px;
        @include flexCenter(column);
        gap: 40px;

        .reason {
            @include flexCenter(column);
            gap: 20px;
        }
    }
}

@media all and (min-width: 800px) {
    .why-section {
        align-items: flex-start;
        padding: 100px;
        gap: 30px;

        .why-intro {
            margin-right: 50%;
        }

        .reasons {
            flex-direction: row;
            justify-content: flex-start;

            .reason {
                align-items: flex-start;
            }
        }

        p {
            text-align: left;
        }
    }
}