@font-face {
  font-family: "Public Sans";
  src: url("../fonts/Public_Sans/PublicSans-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Public Sans";
  font-weight: 300;
}

body {
  overflow-x: hidden;
}

body .request-invite-btn {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  color: white;
  font-weight: bold;
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
}

body .request-invite-btn:hover {
  background: -webkit-gradient(linear, left top, right top, from(#85e59f), to(#81d4e9));
  background: linear-gradient(to right, #85e59f, #81d4e9);
}

body .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  background: white;
  position: absolute;
  z-index: 2;
  width: 100%;
}

body .header .logo-container, body .header .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header .icon-container .hamburger-icon, body .header .icon-container .close-icon {
  cursor: pointer;
}

body .header .icon-container .close-icon {
  display: none;
}

body .header .nav {
  display: none;
}

body .header .nav span {
  color: gray;
  border-top-style: solid;
  border-top-color: transparent;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  cursor: pointer;
}

body .header .nav span:hover {
  color: black;
  border-bottom-color: #31d35c;
}

body .header .button-container {
  display: none;
}

@media all and (max-width: 800px) {
  body .header .nav.show-in-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    padding: 30px 0;
  }
  body .header .nav.show-in-mobile span {
    padding: 5px 0;
    border-top-width: 3px;
    border-bottom-width: 3px;
  }
  body .header .icon-container .hamburger-icon.hide {
    display: none;
  }
  body .header .icon-container .close-icon.show {
    display: block;
  }
  body .header.adjust-in-mobile {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "logo icon" "nav nav";
  }
  body .header.adjust-in-mobile .logo-container {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
  }
  body .header.adjust-in-mobile .icon-container {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: icon;
  }
  body .header.adjust-in-mobile .nav {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: nav;
  }
}

@media all and (min-width: 800px) {
  body .header {
    padding: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body .header .icon-container {
    display: none;
  }
  body .header .nav, body .header .button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .header .nav {
    gap: 30px;
  }
  body .header .nav span {
    padding: 20px 0;
    border-top-width: 5px;
    border-bottom-width: 5px;
  }
}

body .intro-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .intro-section .phones-container {
  margin-top: -80px;
  background: url("../images/bg-intro-mobile.svg");
  background-repeat: none;
  background-size: 100% calc(100% + 80px);
}

body .intro-section .phones-container .phones-img {
  width: 100%;
}

body .intro-section .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  padding: 10px 30px 120px 30px;
}

body .intro-section .text-container h1 {
  font-size: 45px;
  color: #2d314d;
  text-align: center;
}

body .intro-section .text-container p {
  color: #9698a6;
  text-align: justify;
}

@media all and (min-width: 800px) {
  body .intro-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 4fr;
        grid-template-columns: 3fr 4fr;
        grid-template-areas: "text phones";
  }
  body .intro-section .phones-container {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: phones;
    background: url("../images/bg-intro-desktop.svg");
    background-position: 0px -200px;
    margin-top: 0;
    position: relative;
  }
  body .intro-section .phones-container .phones-img {
    position: absolute;
    z-index: 1;
    margin-left: 200px;
    width: 80%;
    height: 120%;
  }
  body .intro-section .text-container {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: text;
    padding-top: 200px;
    padding-left: 100px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body .intro-section .text-container h1 {
    text-align: left;
  }
}

body .why-section {
  background: #f3f4f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 30px;
}

body .why-section h2 {
  font-size: 35px;
  color: #2d314d;
}

body .why-section p {
  color: gray;
  text-align: center;
}

body .why-section .why-paragraph {
  margin-top: 20px;
}

body .why-section .reasons {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

body .why-section .reasons .reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

@media all and (min-width: 800px) {
  body .why-section {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 100px;
    gap: 30px;
  }
  body .why-section .why-intro {
    margin-right: 50%;
  }
  body .why-section .reasons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  body .why-section .reasons .reason {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body .why-section p {
    text-align: left;
  }
}

body .articles-section {
  padding: 100px 30px;
}

body .articles-section .articles-section-title {
  font-size: 35px;
  color: #2d314d;
  text-align: center;
  margin-bottom: 30px;
}

body .articles-section .articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

body .articles-section .articles .article .article-img {
  height: 250px;
  width: 100%;
}

body .articles-section .articles .article .article-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  padding: 30px;
}

body .articles-section .articles .article .article-info span, body .articles-section .articles .article .article-info p {
  color: gray;
}

body .articles-section .articles .article .article-info h4 {
  color: #2d314d;
  font-size: 20px;
  cursor: pointer;
}

body .articles-section .articles .article .article-info h4:hover {
  color: #31d35c;
}

body .footer {
  background: #2d314d;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

body .footer .social-media, body .footer .options, body .footer .option {
  gap: 15px;
}

body .footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .footer .social-media svg {
  cursor: pointer;
}

body .footer .social-media svg:hover path {
  fill: #31d35c;
}

body .footer .options {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .footer .options .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .footer .options .option span {
  cursor: pointer;
}

body .footer .options .option span:hover {
  color: #31d35c;
}

body .footer .copyright {
  color: gray;
}
/*# sourceMappingURL=style.css.map */