@font-face {
    font-family: "Public Sans";
    src: url("../fonts/Public_Sans/PublicSans-VariableFont_wght.ttf");
}

@mixin flexCenter($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Public Sans";
}

body {
    button {
        cursor: pointer;
    }

    @import "./sass-components/header";
    @import "./sass-components/intro-section";
}